.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}
